# Node.js / npm
node_modules/
npm-debug.log
yarn-error.log

# MongoDB
*.log
*.mdb
*.db
*.sdb

# React build output
/build/

# Visual Studio Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log
logs/
log-debug.log
log-error.log
log-out.log
